[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "2.3.2"
python-dotenv = "1.0.1"
coloredlogs = "*"
sqlalchemy = "2.0.29"
asyncpg = "0.29.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
